<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset Your Password</h1>
    
    <p>Hello <%= @user.name || @user.email %>,</p>
    
    <p>We received a request to reset your password. If you didn't make this request, you can safely ignore this email.</p>
    
    <p>To reset your password, click the link below:</p>
    
    <p><a href="<%= @reset_url %>">Reset Password</a></p>
    
    <p>Or copy and paste this link into your browser:</p>
    <p><%= @reset_url %></p>
    
    <p>This link will expire in 1 hour for security reasons.</p>
    
    <p>Best regards,<br><%= ENV['APP_NAME'] || 'Rails API' %></p>
  </body>
</html> 